@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    width: 100%;
    height: 76px;
    background-color: #fff;
    border-bottom: 1px solid #f8e0fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 82px;
}

header img {
    width: 151px;
    height: 40px;
    margin-right: 32px;
    cursor: pointer;
    /* margin: 18px auto; */
}

.menu__wrapper{
  display: flex;
}

.menu__wrapper a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
  text-decoration: none;
  margin-right: 32px;
  white-space: nowrap;
  transition: all 0.2s ease-in;
}

.menu__wrapper a:hover {
  opacity: 1;
}

/* HERO SECTION */

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__bg {
  position: absolute;
  width: 100%;
  height: 499px;
  left: 0px;
  top: 57px;
  background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.4;
  filter: blur(116px);
  z-index: -100;
}

.hero h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #000000;
  text-shadow: -5px 5px 0px #ffffff;
  padding-top: 117px;
  text-align: center;
  font-family: 'Syne', sans-serif;
  margin: 0 auto;
}

.hero p {
  padding-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #532C59;
}

.hero button {
  margin: 32px auto;
  width: 114px;
  height: 52px;
  color: #fff;
  background-color: #532C59;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  font-family: 'Syne', sans-serif;
  transition: all 0.1s ease-in;
}

.hero button:hover {
  background-color: #481e50;
  cursor: pointer;
  text-shadow: -5px 5px 0px #f125f1;
  color: #65ee2f;
}

.hero__img-1 {
  position: absolute;
  width: 299px;
  height: 300px;
  left: -16px;
  top: 298px;
  filter: blur(9px);
}

.hero__img-2 {
  position: absolute;
  width: 111px;
  height: 112px;
  left: 1162px;
  top: 67px;
  filter: blur(13.5px);
}

.hero__img-3 {
  position: absolute;
  width: 173px;
  height: 174px;
  left: 53px;
  top: 5px;
}

.hero__img-4 {
  position: absolute;
  width: 211px;
  height: 211px;
  left: 1196px;
  top: 387px;
} 

/* PARTNERS */

.partners {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  margin: 0 auto;
  margin-top: 101px;
  max-width: 1440px;
}

.partners img {
  margin-right: 40px;
}

.partners img:last-child {
  margin-right: 0;
}

/* team */

.team {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.team h1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  padding-top: 80px;
  margin: 0;
  color: #000000;
}

.team p {
  margin: 0;
  padding-top: 24px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #532C59;
}

.team__card-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.team__card {
  width: 301px;
  height: 156px;
  text-align: center;
  margin: 0;
  padding-right: 32px;
}


.team__card img {
  transition: all 0.3s ease-in-out;
}

.team__card img:hover {
  transform: scale(1.25);
}        

.team__card h2 {
  margin: 0;
  padding-top: 12px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.team__card b {
  margin: 0;
  padding-top: 12px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #532C59;
}








/* Collection */

.collection {
  padding-top: 160px;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.collection h1 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  margin-bottom: 16px;
}

.collection p {
  margin-top: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #532C59;
}

.collection__card-wrapper {
  display: flex;
  margin: 64px auto;
  max-width: 1300px;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 32px;
}

.collection__card {
  max-width: 412px;
}

.collection__card h2 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 12px;
}

.collection__card p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #532C59;
}

/* Provide */

.provide {
  max-width: 1300px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

.provide h2 {
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  }

.provide p {
  text-align: center;
  margin: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #532C59;
  padding-bottom: 60px;
}

.provide__card-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}
.provide__card-wrapper > :last-child { padding-right: 0 !important; }

.provide__card {
  max-width: 301px;
  max-height: 200px;
  text-align: center;
  padding-right: 32px;
}

.provide__card h3 {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
  margin: 12px 0;
}

.provide__card p {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #532C59;
}


/* comments */

.comments {
  padding-top: 80px;
  max-width: 1300px;
  margin: 0 auto;
}

.comments h2 {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
  margin-top: 0;
}